<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>ISAE Done Digitally</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">

    <style>
      body {
        padding-top: 5rem;
      }
      
      .text-group {
        margin-bottom: 1rem;
      }
      .legend {
        font-size: .7rem;
        font-weight: 700;
        color: #545454;
      }
      .process-container {
        margin: 2rem auto 2rem;
      }

      .subprocess-container {
        border-bottom: 2px white solid;
     }
      .subprocess-card-container {
        background-color: #f2f2f2;
        display: grid;
        grid-template-columns: 4rem auto;
        
      }
      .subprocess-card-container:hover {
        background-color: #e5e5e5;
        cursor: pointer;
      }
      .status {
        text-align: center;
        padding-top: 2.5rem;
        font-size: 1rem;
      }
      
      .status-effective {
        background-color: #c2edc8;
        color: green;
      }
      .status-ineffective {
        background-color: #ffb5be;
        color: #bc1c2f;
      }
      
      .subprocess-content, .control-content {
        padding: 1rem 1rem 0 1rem;
      }
    
      .control-container {
        background-color: #f9f9f9;
        margin-left: 2rem;
        border-top: 2px white solid;
        display: grid;
        grid-template-columns: 2rem auto;
      }
      .show-controls {
        padding-top: 2rem;
        
      }
      .show-controls-action {
        
        cursor: pointer;
      }
  
      



    </style>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ISAE Done Digitally</a>
      </nav>

      <main role="main" class="container">

        <div class="process-container" v-for="process in processes">

          <!--Process block-->

          <div class="text-group">
            <div class="legend">
              PROCESS
            </div>
            <div class="process-title">
              <h1>
                <small>{{ process.ref }}</small> {{ process.title }}  

              </h1>
            </div>
            <div>
              {{ process.description }}
            </div>
          </div>

          
          <!--End of process-->
          
          
          
          <!--Subprocesses block-->
          <div class="subprocess-container" v-for="subprocess in process.subprocesses">
            
            
            <div class="subprocess-card-container" v-on:click="subprocess.isExpanded = !subprocess.isExpanded">
              <div class="status" v-bind:class="returnStatusClass(subprocess.isEffective)">
                <h4><span class="oi" v-bind:class="returnStatusIcon(subprocess.isEffective)" title="icon name" aria-hidden="true"></span></h4>
              </div>
              <div class="subprocess-content">
                <div class="text-group">
                  <div class="legend">
                    SUBPROCESS
                  </div>
                  <div>
                    <h3><small>{{ subprocess.ref }}</small> {{ subprocess.title }}</h3>
                    {{ subprocess.description }}
                  </div>
                </div>
  
  
                <div class="text-group">
                  <div class="legend">
                    CONTROL OBJECTIVE
                  </div>
                  <div>
                    {{ subprocess.controlObjective }}
                  </div>
                </div>
                
              </div>
            </div>
            
            <template v-if="subprocess.isExpanded">
              <div class="control-container" v-for="control in subprocess.controls">
                <div class="status" v-bind:class="returnStatusClass(control.isEffective)">
                  <span class="oi" v-bind:class="returnStatusIcon(control.isEffective)" title="icon name" aria-hidden="true"></span>
                </div>
                <div class="control-content">
  
                  <div class="text-group">
                    <div class="legend">
                      CONTROL
                    </div>
                    <div>
                      <h4><small>{{ control.ref }}</small> {{ control.title }}</h4>
                      {{ control.description }}
                    </div>
                  </div>
                  <div class="text-group">
                    <div class="legend">
                      CURRENT YEAR RESULTS
                    </div>
                    <div>
                      <template v-if="control.isEffective">No exceptions</template>
                      <template v-else>
                        Exceptions noted
                      </template>
                    </div>
                  </div>
                  <div class="text-group">
                    <div class="legend">
                      PRIOR YEAR RESULTS
                    </div>
                    <div>
                      No exceptions
                    </div>
                  </div>
                </div>
              </div>
              
            </template>

          </div>
          
          <!--End of subprocess-->
    
        </div>
      </main><!-- /.container -->

    </div>
    

    <script src="//unpkg.com/vue"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
      var processes = 
        [
          {
            "index": 0,
            "ref": "A",
            "title": "Administratie",
            "description": "Culpa ea velit est magna tempor labore irure incididunt enim ad. Sit veniam quis duis aliqua ullamco ex. Pariatur qui ipsum ea magna nostrud nulla eu in qui do. Tempor eu ex exercitation elit in qui laborum. Cupidatat quis commodo sint veniam occaecat cillum eu nulla fugiat voluptate non id.\r\n",
            "isEffective": true,
            "subprocesses": 
                [
                  {
                    "index": 0,
                    "ref": "A.1",
                    "title": "non enim",
                    "description": "Ut minim ullamco commodo elit duis proident aliquip cupidatat sunt aute. Aliqua ex adipisicing mollit nisi. Reprehenderit dolore exercitation aliqua Lorem irure id. Ipsum excepteur id ullamco commodo mollit ipsum et consectetur. Sunt aliqua ullamco commodo tempor incididunt quis ad reprehenderit ut culpa nostrud.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isExpanded": false,
                    "isEffective": true,
                    "hasIneffectiveControl": true,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "A.1.1",
                            "title": "consequat enim",
                            "description": "Duis enim exercitation quis voluptate duis fugiat fugiat. Dolore ullamco mollit laboris velit Lorem Lorem. Est quis laborum consequat id.\r\n",
                            "isEffective": false,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "A.1.2",
                            "title": "sint esse",
                            "description": "Mollit qui exercitation ea cillum fugiat quis dolor fugiat incididunt in aliqua laborum in labore. Exercitation culpa anim qui qui fugiat. Voluptate veniam Lorem nostrud sint proident cupidatat cupidatat nulla mollit enim do dolore elit. Velit nulla consectetur culpa reprehenderit irure veniam aute in ut do proident cillum id. Non amet nulla eu ex laboris incididunt sunt eiusmod dolor ipsum. Adipisicing occaecat non incididunt fugiat culpa culpa aliqua elit exercitation occaecat exercitation minim duis.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 2,
                            "ref": "A.1.3",
                            "title": "labore cupidatat",
                            "description": "Ut deserunt irure ea qui. Nostrud deserunt do fugiat reprehenderit laborum. Consequat labore id ex minim commodo eiusmod officia sint quis dolor non minim.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  },
                  {
                    "index": 1,
                    "ref": "A.2",
                    "title": "est exercitation",
                    "description": "Officia ad sunt cupidatat do incididunt exercitation dolor reprehenderit quis velit. Enim aute proident et commodo in ex anim laboris anim. Excepteur commodo laborum proident mollit veniam minim commodo cupidatat anim esse sint deserunt excepteur. Incididunt voluptate ad quis laboris officia sint ut qui sunt ullamco exercitation est. Ea fugiat eu consectetur culpa do cillum ea.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isExpanded": false,
                    "isEffective": true,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "A.2.1",
                            "title": "nostrud fugiat",
                            "description": "Consequat Lorem aute sint fugiat aute labore. Fugiat cupidatat veniam est cupidatat consectetur exercitation consectetur voluptate aliquip sunt aliqua aliqua. Occaecat ullamco nostrud esse reprehenderit irure cupidatat enim duis.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "A.2.2",
                            "title": "laboris fugiat",
                            "description": "Et quis Lorem culpa velit incididunt id aute. Incididunt do dolore et aliquip labore voluptate ullamco nulla et esse cupidatat Lorem in. Ea veniam laboris est sunt non magna occaecat laboris non nulla. Eiusmod laboris id ipsum ut eiusmod in magna officia sunt aliquip amet.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  },
                  {
                    "index": 2,
                    "ref": "A.3",
                    "title": "aliquip excepteur",
                    "description": "Proident dolor incididunt eiusmod excepteur ad dolor. Adipisicing do est consequat veniam dolor culpa id. Tempor nulla do officia laboris excepteur proident ullamco dolor ut cillum. Qui reprehenderit magna irure deserunt ullamco id labore non amet pariatur dolore ipsum. Ullamco commodo nostrud amet ipsum dolore aliquip mollit pariatur non.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isExpanded": false,
                    "isEffective": true,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "A.3.1",
                            "title": "incididunt do",
                            "description": "Quis adipisicing minim amet pariatur excepteur aute aliqua consectetur excepteur deserunt consectetur ullamco cupidatat. Sit ipsum ex ea elit consequat. Ex sit aute consectetur id.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "A.3.2",
                            "title": "ut fugiat",
                            "description": "Irure officia velit irure duis officia nulla exercitation esse fugiat laborum proident ea. Reprehenderit ipsum laboris incididunt ullamco elit veniam qui. Nulla ea amet exercitation laborum adipisicing. Qui enim ut esse occaecat occaecat. Magna culpa laborum Lorem laborum irure dolore eu ipsum. Consectetur est magna commodo reprehenderit eu nostrud reprehenderit ad consequat duis incididunt Lorem. Anim incididunt veniam tempor quis cupidatat reprehenderit.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  }
              ]
          },
          {
            "index": 1,
            "ref": "B",
            "title": "Rapportage",
            "description": "Fugiat amet occaecat enim esse esse est ut elit velit. Ad sit aliquip est ex sunt consectetur qui nulla incididunt mollit labore. Nostrud sunt sunt laborum cillum amet irure enim velit ut irure consectetur veniam deserunt. Enim sunt nostrud ex ullamco sit proident ea minim proident deserunt incididunt aliquip exercitation duis. Consectetur consectetur voluptate non esse anim magna mollit. Occaecat deserunt dolor Lorem culpa est reprehenderit ut id consectetur elit dolor consectetur.\r\n",
            "isEffective": true,
            "subprocesses": 
                [
                  {
                    "index": 0,
                    "ref": "B.1",
                    "title": "commodo incididunt",
                    "description": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isEffective": true,
                    "isExpanded": false,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "B.1.1",
                            "title": "irure aute",
                            "description": "Pariatur non culpa excepteur Lorem voluptate non duis. Exercitation esse quis deserunt labore ea dolor incididunt ipsum mollit aliqua aliquip sint et veniam. Ex et ea consequat id cillum elit elit veniam eu. Nulla magna aliqua ipsum dolor nulla aliqua non nulla. Ea laboris magna ipsum nulla commodo. Id dolor nulla tempor est aute eu eu voluptate. Culpa ut fugiat sit est sit duis.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "B.1.2",
                            "title": "occaecat quis",
                            "description": "Culpa tempor amet deserunt adipisicing consequat. Officia cupidatat Lorem consectetur Lorem ullamco qui. Deserunt ut labore in voluptate deserunt tempor elit consectetur. Officia culpa excepteur irure ipsum elit irure occaecat dolore id eiusmod et quis nulla non. Lorem exercitation esse Lorem minim mollit irure adipisicing incididunt ut.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  }
                ]
          },
          {
            "index": 2,
            "ref": "C",
            "title": "IT Controls",
            "description": "Ipsum adipisicing aliquip dolore culpa dolor officia exercitation veniam ea minim in. Aliqua ex deserunt cillum aliquip nostrud magna commodo minim do proident eiusmod occaecat exercitation non. Dolor occaecat in ad ea amet elit. Minim ipsum aute occaecat reprehenderit. Aliquip adipisicing mollit ipsum mollit duis ex. Fugiat ad laboris do officia excepteur excepteur. Cupidatat nostrud ut id voluptate sint enim.\r\n",
            "isEffective": true,
            "subprocesses": 
                [
                  {
                    "index": 0,
                    "ref": "C.1",
                    "title": "aliqua commodo",
                    "description": "Ea do non quis cupidatat tempor mollit esse. Elit ipsum aliqua dolore proident labore. Aliquip ipsum proident aliqua ea. Voluptate ex ex commodo sit qui ea cillum nulla. Consequat velit magna eu eu ea sit dolore labore id ut amet aute irure excepteur. Elit deserunt aliquip commodo fugiat excepteur nostrud elit Lorem dolore cupidatat cillum sit esse enim. Ex ad excepteur consectetur eiusmod occaecat irure elit.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isEffective": true,
                    "isExpanded": false,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "C.1.1",
                            "title": "duis cupidatat",
                            "description": "Fugiat eiusmod veniam eiusmod laboris cillum voluptate pariatur. Do dolore excepteur Lorem exercitation aliqua enim ut consectetur deserunt ullamco minim fugiat. Deserunt sint nostrud nisi incididunt do mollit esse adipisicing exercitation fugiat. Sunt officia eiusmod mollit quis exercitation tempor dolore velit quis anim sint in esse. Pariatur ea sint et magna magna dolor nulla anim eu laboris fugiat ullamco.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "C.1.2",
                            "title": "nostrud ipsum",
                            "description": "Cillum et tempor tempor amet ut qui commodo dolore laborum non ad ipsum. Dolor consectetur occaecat voluptate irure quis velit fugiat id. Cillum nulla ut fugiat aliquip.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 2,
                            "ref": "C.1.3",
                            "title": "duis irure",
                            "description": "Pariatur in quis laboris aliquip aute dolore occaecat consectetur commodo in. Ex consectetur laboris dolore aliqua ipsum nulla et ullamco. Officia sunt quis aliqua dolore dolore minim ullamco quis dolor. Aute in eu qui eiusmod consectetur laboris eiusmod officia esse id proident irure in.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  },
                  {
                    "index": 1,
                    "ref": "C.2",
                    "title": "proident pariatur",
                    "description": "Sit culpa ex sunt laboris. Nostrud dolor ut cillum qui sint ex incididunt exercitation excepteur ipsum. Eiusmod tempor duis pariatur ad in aliquip officia commodo labore officia velit ex magna laboris. Sint exercitation aliquip exercitation ut irure non proident sunt proident in sit nostrud cupidatat.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isEffective": true,
                    "isExpanded": false,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "C.1.1",
                            "title": "proident nostrud",
                            "description": "Sint nulla ad ea eu excepteur. Aute sint ad aliqua magna dolore reprehenderit in ea. Exercitation adipisicing enim sint est sit dolore enim cillum elit ut tempor adipisicing.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "C.1.2",
                            "title": "sunt occaecat",
                            "description": "Tempor veniam officia deserunt exercitation ea sit consectetur est. Enim excepteur ullamco consectetur dolore sit deserunt ullamco officia mollit ex cillum qui commodo. Magna non consectetur ipsum velit id labore aliquip consectetur. Et elit in consequat proident occaecat minim exercitation adipisicing sint do ex. Ea sint enim culpa nisi elit.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 2,
                            "ref": "C.1.3",
                            "title": "nulla ut",
                            "description": "Amet dolor ullamco magna veniam exercitation anim aliqua. Labore cillum reprehenderit duis duis aliquip sunt et labore anim eiusmod enim et est aute. Magna commodo voluptate non amet dolore incididunt consequat laboris qui est est mollit ut velit. Minim amet in commodo amet adipisicing eiusmod. Commodo laboris quis fugiat labore velit dolore. Occaecat laboris cupidatat reprehenderit ipsum aliquip consectetur nulla labore. Eiusmod laboris ut quis veniam laboris voluptate id.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  },
                  {
                    "index": 2,
                    "ref": "C.3",
                    "title": "est consectetur",
                    "description": "Adipisicing minim Lorem dolore dolor occaecat elit fugiat. Amet minim et anim ea excepteur enim aliqua. Et fugiat tempor do Lorem velit dolor consequat magna ullamco mollit. Sint ea ex aute aliquip deserunt consectetur fugiat tempor eu ullamco ullamco.\r\n",
                    "controlObjective": "Labore consectetur voluptate aute magna commodo consequat qui et voluptate consectetur officia nostrud tempor non. Eiusmod dolor dolor irure duis voluptate veniam laborum. Deserunt officia tempor eiusmod cupidatat ex laborum esse ut esse deserunt. Dolore ex proident aliquip ex mollit sit velit nisi fugiat.\r\n",
                    "isEffective": true,
                    "isExpanded": false,
                    "controls": 
                        [
                          {
                            "index": 0,
                            "ref": "C.1.1",
                            "title": "est sint",
                            "description": "Enim sit quis cillum in laboris proident incididunt ea nulla laboris. Nostrud deserunt sint non sunt dolor fugiat proident pariatur. Minim do veniam reprehenderit aute occaecat pariatur elit labore esse dolor excepteur. Labore sunt adipisicing mollit aliquip occaecat ullamco reprehenderit minim exercitation veniam est et occaecat labore. Lorem Lorem nostrud veniam officia Lorem aute sunt nulla velit eu ad amet. Laborum irure labore nisi in.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 1,
                            "ref": "C.1.2",
                            "title": "duis dolore",
                            "description": "Consectetur veniam est velit pariatur duis veniam. Reprehenderit dolor sunt pariatur minim excepteur ad. Deserunt anim aliquip esse in velit tempor cillum laborum culpa et qui labore eu voluptate. Officia laborum proident nulla minim anim amet reprehenderit elit. Et cupidatat proident non ad incididunt. Consequat Lorem qui do cillum mollit non fugiat ex eiusmod qui aute nulla eu sunt.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          },
                          {
                            "index": 2,
                            "ref": "C.1.3",
                            "title": "occaecat adipisicing",
                            "description": "Aliquip quis consectetur sint irure sunt consectetur voluptate. Excepteur duis fugiat sit aliqua velit velit. Nostrud consectetur fugiat elit cupidatat consequat reprehenderit esse eu sint commodo fugiat voluptate ut. Laboris quis adipisicing occaecat dolor consequat. Cillum labore occaecat elit nulla. Non et est veniam ullamco consequat exercitation amet mollit veniam ea cillum laborum.\r\n",
                            "isEffective": true,
                            "isExpanded": false,
                            "exceptions": []
                          }
                        ]
                  }
                ]
            }
        ]
        
      var app = new Vue({
        el: '#app',
        data: {
          processes
        },
        methods: {
          returnStatusClass: function (isEffective) {
            if (isEffective) return "status-effective"
            else return "status-ineffective"
          },
          returnStatusIcon: function (isEffective) {
            if (isEffective) return "oi-circle-check"
            else return "oi-circle-x"
          }
        }
      })
    </script>

  </body>
</html>
