<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>DASHBOARD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

  </head>
  <body>
    <div id="app">
      
      <!--navbar-->
      
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">DASHBOARD</a>
      </nav>
      
      <!--end of navbar-->
      
      
      <!--main container-->
      
      <main role="main" class="container">

        <div class="process-container" v-for="process in processes">

          <!--Process block-->
          <div class="process-card">
            <div>
              <h1><small>{{ process.ref }}</small></h1>
            </div>
            <div class="text-group">
              <div class="legend">
                PROCESS
              </div>
              <div class="process-title">
                <h1>
                   {{ process.title }}  
  
                </h1>
              </div>
              <div>
                {{ process.description }}
              </div>
            </div>
            
            
          </div>

          

          
          <!--End of process-->
          
          
          
          <!--Subprocesses block-->
          <div class="subprocess-container" v-for="subprocess in process.subprocesses">
            
            
            <div class="subprocess-card-container" v-on:click="subprocess.isExpanded = !subprocess.isExpanded">
              <div class="status" v-bind:class="returnStatusClass(subprocess.isEffective)">
                <h4><span class="oi" v-bind:class="returnStatusIcon(subprocess.isEffective)" title="icon name" aria-hidden="true"></span></h4>
              </div>
              <div class="subprocess-content">
                <div class="text-group">
                  <div class="legend">
                    SUBPROCESS
                  </div>
                  <div>
                    <h3><small>{{ subprocess.ref }}</small> {{ subprocess.title }}</h3>
                    {{ subprocess.description }}
                  </div>
                </div>
  
  
                <div class="text-group">
                  <div class="legend">
                    CONTROL OBJECTIVE
                  </div>
                  <div>
                    {{ subprocess.controlObjective }}
                  </div>
                </div>
                
              </div>
            </div>
            
            <template v-if="subprocess.isExpanded">
              <div class="control-container" v-for="control in subprocess.controls">
                <div class="status" v-bind:class="returnStatusClass(control.isEffective)">
                  <span class="oi" v-bind:class="returnStatusIcon(control.isEffective)" title="icon name" aria-hidden="true"></span>
                </div>
                <div class="control-content">
  
                  <div class="text-group">
                    <div class="legend">
                      CONTROL
                    </div>
                    <div>
                      <h4><small>{{ control.ref }}</small> {{ control.title }}</h4>
                      {{ control.description }}
                    </div>
                  </div>
                  <div class="text-group">
                    <div class="legend">
                      CURRENT YEAR RESULTS
                    </div>
                    <div>
                      <template v-if="control.isEffective">No exceptions</template>
                      <template v-else>
                        Exceptions noted
                      </template>
                    </div>
                  </div>
                  <div class="text-group">
                    <div class="legend">
                      PRIOR YEAR RESULTS
                    </div>
                    <div>
                      No exceptions
                    </div>
                  </div>
                </div>
              </div>
              
            </template>

          </div>
          
          <!--End of subprocess-->
    
        </div>
      </main><!-- /.container -->

    </div>
    

    <script src="//unpkg.com/vue"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="processes.js"></script>
    <script>
        
      var app = new Vue({
        el: '#app',
        data: {
          processes
        },
        methods: {
          returnStatusClass: function (isEffective) {
            if (isEffective) return "status-effective"
            else return "status-ineffective"
          },
          returnStatusIcon: function (isEffective) {
            if (isEffective) return "oi-circle-check"
            else return "oi-circle-x"
          }
        }
      })
    </script>

  </body>
</html>